<div class="g_container" id="g_container">
  <h1><%= @title %></h1>

  <%= render 'shared/micropost_form' %>
   
  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
