
<div class="g_container" id="g_container">

  <%= render 'shared/micropost_error_messages' %>
    
  <%= render 'shared/display_gravatar_h1' %>
  
  <%= render 'shared/user_info' %>
  
  <%= render 'shared/micropost_form' %>
    
  <%= render 'shared/display_microposts' %>

</div>
