  <div class="g_left" comment="display microposts">
    <p id="notice">
      <%= notice %>
    </p>
    <h1>
      <%= gravatar_for @user, :size => 30 %>
      <%= @user.name %>
    </h1>
    <br />
    
    <% unless @user.microposts.empty? %>
      <%= will_paginate @microposts, :class => "css_here" %>
      <%= render @microposts %>
      <%= will_paginate @microposts, :class => "micropost2" %>
    <% end %>

    <p>
      <br />
      <%= link_to 'Edit', edit_user_path(@user) %> |
      <%= link_to 'Back', users_path %>
    </p>
  </div>
