<% if signed_in? %>

    <h1>What's up?</h1>
    
    <%= render 'shared/micropost_error_messages' %>
    <%= render 'shared/micropost_form' %>
    <%= render 'shared/user_info' %>
    <%= render 'shared/feed' %>
    
<% else %>

    <h1>Sample App</h1>
    <%= render 'pages/not_signed_in' %>
    
<% end %>
